@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body,
.header,
.left-links,
.right-links,
.hero {
  display: flex;
}

.header {
  margin-top: 24px;
  margin-bottom: 48px;
}

.left-links,
.right-links {
  gap: 24px;
  padding: 0;
}

.left-links {
  font-size: 24px;
}

.right-links {
  font-size: 18px;
}

.header,
.hero {
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
  background-color: #1F2937;
  margin: 0;
}

.hero {
  padding: 64px 64px;
}

.hero-left,
.hero-img {
    margin: 24px 24px;
}

.hero-left h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}

.hero-left p,
.hero-img {
  color: #E5E7EB;
  font-size: 18px;
}

.hero-left button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  color: #F9FAF8;
  background-color: #3882F6;
  padding: 8px 24px;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  min-width: 400px;
  min-height: 250px;
}

.header .left-links a {
  color: #F9FAF8;
  font-weight: 600;
}

.header .right-links a {
  color: #E5E7EB;
}